{% load wagtailadmin_tags  %}

<div class="{{ classname }}">
    {% if help_text %}
        <span>
            <div class="help">
                {% icon name="help" class_name="default" %}
                {{ help_text }}
            </div>
        </span>
    {% endif %}

    <ul class="fields">
        {% for child, ratio in columns %}
            <li class="field {% if child.block.required %}required{% endif %}"
                data-contentpath="{{ child.block.name }}"
                style="flex: {{ ratio }};">
                {% if child.block.label %}
                    <label class="field__label" {% if child.id_for_label %} for="{{ child.id_for_label }}"{% endif %}>{{ child.block.label }}</label>
                {% endif %}
                {{ child.render_form }}
            </li>
        {% endfor %}
    </ul>
</div>

